@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Poppins:wght@300;400&family=Young+Serif&display=swap');


*{
    margin: 0;
    padding: 0;
}

:root{
    --ff-s: 'Young Serif', serif;
    --ff-o: 'Outfit', sans-serif;
    --f-size: 16px;
    --primary-clr: hsl(14, 45%, 36%);
    --primary-dark: hsl(332, 51%, 32%);
    --whit: hsl(0, 0%, 100%);
    --ros-white: hsl(330, 100%, 98%);
    --egg-shell: hsl(30, 54%, 90%);
    --lit-gray: hsl(30, 18%, 87%);
    --brown:  hsl(30, 10%, 34%);
    --charcoal: hsl(24, 5%, 18%);
}

body{
    font-family: var(--ff-o);
    background-color: var(--egg-shell);
}
/*---------------------------------*/
.wrapper{
    min-height: 900px;
    max-width: 50%;
    margin-block: 100px;
    margin-inline: auto;
    border-radius: 2rem;
    padding: 2.5rem;
    object-fit: cover;
    background-color: var(--whit);
}

.pic img{
    display: block;
    max-width: 100%;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.content>:nth-child(1) {
    font-size: 3.4rem;
    font-weight: 400;
    line-height: 6rem;
    font-family: var(--ff-s);
}

.content>:nth-child(2) {
    font-size: 1.5rem;
    font-family: var(--ff-o);
    margin-bottom: 2rem;
    color: var(--brown);
    font-weight: 500;
}

.content > p::first-letter{
    font-size: 2.7rem;
    color: var(--primary-dark);
}

/*---------------------------------*/
.content .box{
    max-width: 100%;
    border-radius: 1rem;
    padding: 2rem;
    display: block;
    background-color: var(--ros-white);
    margin-bottom: 0.5rem;
}
.box h2{
    color: var(--primary-dark);
    line-height: 2.5rem;
}

ul li{
    padding: 0.5rem;
    color: var(--brown);
    font-weight: 500;
   list-style-position: inside;
}

/*---------------------------------*/

.items{
    max-width: 100%;
    padding-block: 1rem;
}

h2{
    font-size: 2rem;
    color: var(--primary-clr);
    font-family: var(--ff-s);
    line-height: 4rem;
}

.separator{
    min-width: 100%;
    height: 2px;
    background-color: var(--lit-gray);
}

/*---------------------------------*/

.steps{
    max-width: 100%;
    padding-block: 1rem;
}

.steps ol li{
    padding: 0.5rem;
    color: var(--brown);
    font-weight: 500;
    margin-left: 1rem;
    list-style-position: outside;
}

.separator{
    min-width: 100%;
    height: 2px;
    background-color: var(--lit-gray);
}

/*---------------------------------*/

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .styled-table td {
    border-bottom: 1px solid #ddd;
    padding: 0.7rem;
  }
  
  .styled-table tbody tr:hover {
    background-color: var(--ros-white);
  }

.styled-table tr :nth-child(2) {
    color: var(--primary-clr);
    font-weight: 900;
}
  

@media screen and (max-width: 600px){
    .wrapper{
        box-sizing: border-box;
        min-width: 90%;
        word-break: break-word;
        white-space: normal;
        font-size: 0.76rem;
    }

    .content>:nth-child(1) {
        font-size: 3.3rem;
        font-weight: 400;
        line-height: 4rem;
        font-family: var(--ff-s);
        margin-bottom: 10px;
    }

    .box h2{
        color: var(--primary-dark);
        line-height: 2.5rem;
        font-size: 1.2rem;
    }

    .content > p {
        font-size: 1.3rem;
    }

    .content > p::first-letter{
        font-size: 3rem;
        font-family: var(--ff-o);
        font-weight: 300;
        color: var(--primary-dark);
    }
}